@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body{
    background-attachment: fixed;
    background-image: url('Images/tb_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

/*--------------------------------Header-------------------------------*/
header{
    width: 100%;
    height: 60px;
    padding: 0 40px;
    box-sizing: border-box;
    border: 1px solid goldenrod;
    border-radius: 0;
    background-color: #F8D14B;
    overflow: hidden;
}

.menu{
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
}

li{
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    position: relative;
}

header li:first-child{
    margin-right: auto;
}

.home{
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: #f1ba02;
    margin-right: -30px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    text-decoration: none;
}

.forums{
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: #f1ba02;
    margin-right: -30px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    text-decoration: none;
}

.blogs{
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: #f1ba02;
    margin-right: -30px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    text-decoration: none;
}

.aboutus{
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: #f1ba02;
    margin-right: -30px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    text-decoration: none;
}

.logout a{
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: red;
    margin-right: -30px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    text-decoration: none;
}

.login{
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: #f1ba02;
    margin-right: -30px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    text-decoration: none;
}

.login:hover{
    background-color: #b48a00;
    border: 1px solid #b48a00;
    color: white;
}

.logo_Home{
    display: block;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 50px;
    width: 500px;
    
}

.dropdown{
    min-width: 130px;
    padding: 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 40px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 25px -12px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}

li:hover .dropdown{
    opacity: 1;
    visibility: visible;
    top: 60px;
}

.dropdown a{
    font-size: 14px;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


/*--------------------------------Blogs-------------------------------*/

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading a {
    font-size: 4.0rem;
    color: #2b2b2b;
    font-weight: 600;
}

.blog-heading span {
    color: #000000;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    flex-wrap: wrap;
}

.blog-box {
    width: 600px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.video {
    width: 600px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.blog-box:hover {
    transform: scale(1.05);
}

.blog-box2 {
    width: 775px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.blog-box2:hover {
    transform: scale(1.05);
}

.blog-box3 {
    width: 500px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.blog-box3:hover {
    transform: scale(1.05);
}

.blog-box4 {
    width: 600px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.blog-box4:hover {
    transform: scale(1.05);
}

.blog-box5 {
    width: 600px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.blog-box5:hover {
    transform: scale(1.05);
}

.blog-box6 {
    width: 750px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.blog-box6:hover {
    transform: scale(1.05);
}

.blog-img {
    width: 100%;
    overflow: hidden;
}

.blog-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #FEC00F;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text .blog-title:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;
}

.blog-text a {
    color: #0f0f0f;
}

.blog-text a:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

@media(max-width:1250px){
    .blog-box{
        width: 300px;
    }
}

.ust-spot{
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-weight: bold;
}

.vid-box {
    width: 1000px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a shadow */
}

.vid-box:hover {
    transform: scale(1.05);
}


/*--------------------------------Main Building-------------------------------*/

.blog-container {
    max-width: 960px;
    margin: 20px auto;
}

.blog-box-main-building {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.blogs-img-main-building img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.blog-text-main-building {
    margin-left: 20px;
}

.blog-text-main-building span {
    font-weight: bold;
    color: #333;
    font-size: 18px;
}

.blog-title-main-building {
    text-decoration: none;
    color: #FEC00F;
    font-size: 24px;
    display: block;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .blog-box-main-building {
        flex-direction: column;
    }

    .blogs-img-main-building img {
        margin-bottom: 10px;
    }

    .blog-text-main-building {
        margin-left: 0;
    }
}

.blog-text a{
    font-size: medium;
}

.blog-box,
.blog-box2,
.blog-box3,
.blog-box4,
.blog-box5,
.blog-box6 {
    width: 600px; 
}

.blogs-img img {
    max-width: 600px; 
    height: auto; 
}

.blogs-img2 img {
    max-width: 600px; 
    height: auto; 
}

.blogs-img3 img {
    max-width: 600px; 
    height: auto; 
}

.blogs-img4 img {
    max-width: 600px; 
    height: auto; 
}
 
.blogs-img5 img {
    max-width: 600px; 
    height: auto; 
}

.blogs-img6 img {
    max-width: 600px; 
    height: auto; 
} 



/*--------------------------------Forums.php-------------------------------*/
button{
    background-color: #F8D14B;
    border: 2px solid #F8D14B;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 750px;
    margin-right: -730px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
  }
  
  .item{
      color: black;
      font-family: "Montserrat", sans-serif;
      font-size: large;
  }
  
  table {
      background: #ffffff;
      border-collapse: collapse;
      border-radius: 20px 0 20px 0;
      border-spacing: 0;
      box-shadow: 0 2px 12px rgba(32, 32, 32, 0.3);
      margin-left: 467px;
      overflow: hidden;
      margin-bottom: 200px;
      text-align: center;
      width: 60%;
  }
  
  th{
    background: #F8D14B;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  
  tr{
    color: #F8D14B;
  }
  
  td{
    color: green;
  }
  /*--------------------------------Footer-------------------------------*/
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
  }